
.underline {
  text-decoration: underline;
}

img.image {
  height: auto;
  margin: 0 auto 0 auto;
  background: transparent;
}

p.image-legend {
  font-size: 50% !important;
  margin: 0 !important;
  padding: 0 !important;
  opacity: 0.8;
}
